.redefine-password-container {
  @include flex;

  section {
    gap: 0;

    .input-wrapper {
      @include flex(row);
      position: relative;
      justify-content: center;

      svg {
        position: absolute;
        top: 50%;
        left: 0.5rem;
        transform: translateY(-50%);
      }

      .eye-wrapper {
        position: absolute;
        width: 32px;
        height: 100%;
        top: 0;
        right: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          position: static;
          transform: none;
        }
      }

      &:first-of-type {
        margin-top: 2rem;
      }

      &:not(:first-of-type) {
        margin-top: 1rem;
      }
  
      input {
        width: 20rem;
        height: 2.75rem;
        border-radius: 16px;
        border: 0;
        padding: 0 0.5rem;
        background-color: $primary-color;
        font-size: 1.5rem;
        padding: 0 3.25rem;

        &::placeholder {
          color: $gray;
          font-size: 1.25rem;
        }
      }
    }

    button {
      justify-content: center;
      align-items: center;
      width: 10rem;
      height: 2.5rem;
      border: 2px solid $primary-color;
      border-radius: 16px;
      font-size: 1.25rem;
      background-color: transparent;
      color: $white;
      margin: 4rem auto 0;
      cursor: pointer;
    }
  }
}