* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus-visible, a:focus-within, a:focus, a:active, a:target {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
}
.main-container section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 3rem 1rem 0;
  min-height: calc(100vh - 4rem);
  height: 100%;
  position: relative;
  color: #d9d9d9;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(23, 58, 68) 50%, rgb(53, 137, 161) 100%);
}
.main-container section .input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.main-container section .input-wrapper span {
  font-size: 1.375rem;
}
.main-container section .input-wrapper h2 {
  color: #12262b;
}
.main-container section .input-wrapper .input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.main-container section .input-wrapper .input-row img {
  height: 5rem;
}
.main-container section button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  border: 2px solid #51aec8;
  border-radius: 16px;
  font-size: 1.25rem;
  background-color: transparent;
  color: #d9d9d9;
  cursor: pointer;
}
.main-container :is(select, input) {
  font-size: 1.25rem;
}
.main-container :is(select) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.75rem;
  border-radius: 16px;
  border: 0;
  padding: 0 0.5rem;
  text-align: center;
  background-color: #51aec8;
  font-size: 1.5rem;
}

.result-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background: rgb(16, 75, 92);
  background: linear-gradient(0deg, rgb(16, 75, 92) 0%, rgb(84, 172, 197) 30%, rgb(84, 172, 197) 70%, rgb(16, 75, 92) 100%);
}

.auth-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(23, 58, 68) 50%, rgb(53, 137, 161) 100%);
}
.auth-container header {
  display: flex;
  flex-direction: row;
  padding: 0 1rem 0;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: #51aec8;
  color: #12262b;
}
.auth-container header a, .auth-container header .x-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.auth-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 4rem);
}
.auth-container section span {
  color: #d9d9d9;
  font-size: 1.5rem;
}
.auth-container section span#reset-title {
  font-size: 1.375rem;
}
.auth-container section .forgot-password-wrapper {
  display: flex;
  width: 20rem;
  justify-content: center;
}
.auth-container section .forgot-password-wrapper span#forgot-password {
  font-size: 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.auth-container section .input-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
}
.auth-container section .input-wrapper svg {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}
.auth-container section .input-wrapper:first-of-type {
  margin-top: 2rem;
}
.auth-container section .input-wrapper:not(:first-of-type) {
  margin-top: 1rem;
}
.auth-container section .input-wrapper input {
  width: 20rem;
  height: 2.75rem;
  border-radius: 16px;
  border: 0;
  padding: 0 0.5rem;
  background-color: #51aec8;
  font-size: 1.5rem;
  padding-left: 3.25rem;
}
.auth-container section .input-wrapper input::-moz-placeholder {
  color: #545454;
  font-size: 1.25rem;
}
.auth-container section .input-wrapper input:-ms-input-placeholder {
  color: #545454;
  font-size: 1.25rem;
}
.auth-container section .input-wrapper input::placeholder {
  color: #545454;
  font-size: 1.25rem;
}
.auth-container button {
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.5rem;
  border: 2px solid #51aec8;
  border-radius: 16px;
  font-size: 1.25rem;
  background-color: transparent;
  color: #d9d9d9;
  margin: 5rem auto 0;
  cursor: pointer;
}

.manager-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}
.manager-container section {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  min-height: calc(100vh - 4rem);
  align-items: center;
  justify-content: center;
  gap: 5rem;
  color: #d9d9d9;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(23, 58, 68) 50%, rgb(53, 137, 161) 100%);
}
.manager-container section a {
  font-size: 1.375rem;
}

.header-container {
  display: flex;
  flex-direction: row;
  padding: 0 1rem 0;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background-color: #51aec8;
  color: #12262b;
}
.header-container a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-container button {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-button-container {
  position: relative;
}
.menu-button-container .menu-modal {
  position: absolute;
  top: 2.75rem;
  right: 2.75rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 12rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  background-color: rgba(15, 15, 15, 0.95);
  color: #d9d9d9;
  font-weight: bold;
}
.menu-button-container .menu-modal hr {
  width: 90%;
  margin: 0.75rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
.menu-button-container .menu-modal .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  cursor: pointer;
  line-height: 1.75rem;
  border-radius: 4px;
  transition: background-color 0.1s;
}
.menu-button-container .menu-modal .menu-item + .menu-item {
  margin-top: 0.75rem;
}
.menu-button-container .menu-modal .menu-item a, .menu-button-container .menu-modal .menu-item span {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.menu-button-container .menu-modal .menu-item a:active, .menu-button-container .menu-modal .menu-item span:active {
  background-color: rgba(81, 174, 200, 0.5);
  transition: background-color 0.1s;
}

.blocks-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}
.blocks-container section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: calc(100vh - 4rem);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4rem 2rem;
  gap: 1rem;
  color: #d9d9d9;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(23, 58, 68) 50%, rgb(53, 137, 161) 100%);
}
.blocks-container section a {
  font-size: 1.375rem;
}
.blocks-container section img#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blocks-container section .block-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  height: 2.5rem;
  background-color: #51aec8;
  padding: 0 1rem;
  border-radius: 16px;
  border: 2px solid #0f0f0f;
}
.blocks-container section .block-wrapper button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 40%;
  padding-bottom: 2px;
  border: 0;
  background-color: #3589a1;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
}
.blocks-container section .block-wrapper span {
  color: white;
  font-size: 1.25rem;
}
.blocks-container .add-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  border: 2px solid #0f0f0f;
  border: 2px solid #0f0f0f;
  border-radius: 40%;
  background-color: #51aec8;
  color: white;
  font-size: 3rem;
  padding-bottom: 4px;
  cursor: pointer;
}
.blocks-container .add-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 2rem;
  position: fixed;
  bottom: 3.5rem;
  right: 6rem;
  text-align: center;
  font-size: 1.25rem;
}
.blocks-container .add-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  bottom: 3.5rem;
  right: 2.5rem;
}

.apartments-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}
.apartments-container section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: calc(100vh - 4rem);
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4rem 2rem;
  gap: 1rem;
  color: #d9d9d9;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(23, 58, 68) 50%, rgb(53, 137, 161) 100%);
}
.apartments-container section .block-wrapper {
  display: flex;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.apartments-container section .block-wrapper span {
  font-size: 1.375rem;
}
.apartments-container section .block-wrapper select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.75rem;
  border-radius: 16px;
  border: 0;
  padding: 0 0.5rem;
  text-align: center;
  background-color: #51aec8;
  font-size: 1.5rem;
}
.apartments-container section .apartment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}
.apartments-container section .apartment-wrapper .apartment-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  height: 2.5rem;
  background-color: #51aec8;
  padding: 0 1rem;
  border-radius: 16px;
  border: 2px solid #0f0f0f;
}
.apartments-container section .apartment-wrapper .apartment-row span {
  color: white;
}
.apartments-container section .apartment-wrapper .apartment-row button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 40%;
  padding-bottom: 2px;
  border: 0;
  background-color: #3589a1;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
}
.apartments-container .add-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  bottom: 3.5rem;
  right: 2.5rem;
}

.add-button-container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 13rem;
  align-items: center;
  justify-content: flex-end;
}
.add-button-container input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 2rem;
  text-align: center;
  font-size: 1.25rem;
  padding-right: 0.5rem;
  border-radius: 8px 0 0 8px;
  border: none;
  position: absolute;
  top: 0.75rem;
  left: 0.6rem;
  z-index: 1;
}
.add-button-container button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid #0f0f0f;
  border: 2px solid #0f0f0f;
  border-radius: 40%;
  background-color: #51aec8;
  color: white;
  font-size: 3rem;
  padding-bottom: 4px;
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 2;
}
.add-button-container button.button-open {
  transform: scale(1.2);
  transition: transform 0.2s;
}/*# sourceMappingURL=App.css.map */