.blocks-container {
  position: relative;
  @include flex(column);
  width: 100vw;
  height: 100%;
  min-height: 100vh;

  section {
    @include flex(column);
    position: relative;
    width: 100vw;
    height: 100%;
    min-height: calc(100vh - 4rem);
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4rem 2rem;
    gap: 1rem;

    color: $white;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(23,58,68,1) 50%, rgba(53,137,161,1) 100%);
    
    h3 {
      font-size: 1.375rem;
      align-self: center;
      margin-bottom: 1rem;
      font-weight: 400;
    }
    a {
      font-size: 1.375rem;
    }

    img#loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .block-wrapper {
      @include flex;
      justify-content: space-between;
      align-items: center;
      width: 12rem;
      height: 2.5rem;
      // height: fit-content;
      background-color: $primary-color;
      padding: 0 1rem;
      border-radius: 16px;
      border: 2px solid $black-bg;

      button {
        @include flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 40%;
        padding-bottom: 2px;
        border: 0;
        background-color: $dark-blue;
        font-size: 1.25rem;
        color: white;
        cursor: pointer;
      }

      span {
        color: white;
        font-size: 1.25rem;
      }
    }
  }

  .add-button {
    @include flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    border: 2px solid $black-bg;border: 2px solid $black-bg;
    border-radius: 40%;
    background-color: $primary-color;
    color: white;
    font-size: 3rem;
    padding-bottom: 4px;
    cursor: pointer;
  }

  .add-input {
    @include flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 2rem;
    position: fixed;
    bottom: 3.5rem;
    right: 6rem;
    text-align: center;
    font-size: 1.25rem;
  }

  .add-button-wrapper {
    @include flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 3.5rem;
    right: 2.5rem;
  }
}